/* team image appearance */
.team {
  display: block;
  margin: 0 auto 1rem auto;
  border-radius: 20px;
  max-width: 70%;
  transition: transform 0.5s ease;
  /* transition for smooth scaling */
  
}

.team:hover {
  transform: scale(1.05);
  /* Scale up on hover */
}

@keyframes scaleUpTeamImage {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

.fade-elements {
  visibility: hidden;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  visibility: visible;
}

/* container for h1, text and button */
#Persuade {
  flex-direction: column;
  display: flex;
  text-align: center;
  margin-bottom: 2rem;
}

/* Fade in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* h1 color gradient */
#Gradeintext {
  font-size: 7rem;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #092069, #00defb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 0;

}

/* text appearance */
#benefits {
  color: #6C757D;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  text-align: justify;
  margin: 0 auto;
  max-width: 70%;
}

/* mobile view */
@media (max-width: 450px) {
  #Gradeintext {
    font-size: 2rem;
  }

  #benefits {
    font-size: 0.7rem;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }

  /* Scale up to 110% */
}



.statIcons {
  max-width: 8%;
  
}



/* Statistics css */
.statisticsHeading{
  font-size: 2em;
  margin-bottom: 20px;
  color: #6C757D;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.statistics {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: left;
  max-width: 90%; /* You might need to adjust this value */
}
.statDesc {
  margin: 0;
  font-size: 1.5em;
  color: #6C757D;
  font-family: "Poppins", sans-serif;
  text-align: left
}
.leftStatistics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.rightStatistics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.statistic {
  font-size: 2em;
  margin-bottom: 20px;
  color: #6C757D;
  font-family: "Poppins", sans-serif;
}

.counter {
  color: #68a3f6;
  font-size: 150%;
}

