/* index.css */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}

.navbar{
    
    
    color: #f4f4f4;
    
    transition: all 0.5s ease;
}







.master-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.container-for-sources {
    flex-basis: 45%;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.small-container-items {
    margin-bottom: 10px;
}

.small-container-items a {
    color: #333;
    text-decoration: none;
}

/* Add some hover effects */
.links:hover, .footer-links:hover, .small-container-items a:hover {
    color: #070bf9;
}
