/* Global styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Footer section */
footer {
  padding: 2rem 0;
}

#footer-line-break {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, transparent, #6c757d, transparent);
  max-width: 90%;
  margin: 2rem auto;
}

.footer-container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* Reduced gap */
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0; /* Ensure no extra margin */
}

.contact-header {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: black;
}

.contact-us ul {
  margin: 0;
  padding: 0; /* Remove default padding */
}

.contact-us li {
  list-style: none;
  margin: 0.5rem 0;
  color: black;
  text-align: left;
  padding-left: 110px;
}

.footer-links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0; /* Reduced margin */
}

.footer-links {
  color: black;
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color 0.3s, transform 0.3s;
}

.footer-links:hover {
  transform: translateY(-2px);
}

.footer-desc {
  color: black;
  margin-left: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
}

.footer-socials-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-item {
  transition: transform 0.3s, opacity 0.3s;
}

.social-item img {
  max-width: 2rem;
}

.social-item:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.web-developers {
  color: black;
  text-align: center;
}

/* Responsive styles */
@media (min-width: 1117px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-sub-container {
    flex: 1;
  }

  .footer-links-and-socials {
    flex: 2;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links-container {
    flex-wrap: nowrap;
    gap: 1rem;
  }
}
