/* General styles */
body {
 font-family: "Poppins", sans-serif;
 margin: 0;
 padding: 0;
 background-color: #ffffff;
}


/* Navbar styles */




/* Main section styles */
#Persuade {
 text-align: center;
 padding: 20px;
}


#Gradeintext {
 font-size: 6rem;
 font-family: "Poppins", sans-serif;
 background: linear-gradient(to right, #092069, #00defb);
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
 margin: 0;
}


#benefits {
 color: #6c757d;
 font-size: 1.2rem;
 text-align: justify;
 margin: 20px auto;
 max-width: 1000px;
}


/* Statistics section styles */
.statisticsHeading {
 font-size: 2em;
 margin-bottom: 20px;
 color: #6c757d;
 font-family: "Poppins", sans-serif;
 text-align: center;
}


.statistics {
 display: flex;
 justify-content: space-between;
 margin: 0 auto;
 text-align: left;
 max-width: 1200px;
 background-color: white;
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.leftStatistics, .rightStatistics {
 flex-basis: 45%;
 padding: 10px;
}


.statIcons {
 max-width: 50px;
 margin-top: 30px;
}


.statistic {
 font-size: 2em;
 /* margin-bottom: 10px; */
 color: #6c757d;
 font-family: "Poppins", sans-serif;
}


.counter {
 color: #007bff;
 font-size: 150%;
}


.statDesc {
 margin: 0;
}


/* Team image styles */
.team {
 display: block;
 margin: 0 auto;
 border-radius: 20px;
 max-width: 100%;
 height: auto;
 transition: transform 0.5s ease;
}


.team:hover {
 transform: scale(1.05);
}


/* Footer styles */
footer {
 background-color: #ffffff;
 padding: 20px 0;
 text-align: center;
}


.footer-links-container {
 margin-bottom: 10px;
}


.footer-links {
 text-decoration: none;
 color: #6c757d;
 font-family: "Poppins", sans-serif;
 margin: 0 10px;
}


.social-item {
 margin: 0 10px;
}


.social-item img {
 width: 30px;
 height: 30px;
 border-radius: 50%;
 transition: transform 0.3s ease-in-out;
}


.social-item img:hover {
 transform: scale(1.2);
}

@keyframes scaleUpTeamImage {
  0% {
    transform: scale(1);
  }
 
 
  100% {
    transform: scale(1.05);
  }
 }
 
 
 .fade-elements {
  visibility: hidden;
 }
 
 
 .fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  visibility: visible;
 }
 
/* Fade in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
 
 
  to {
    opacity: 1;
  }
 }
 

/* Responsive adjustments */
@media (max-width: 1200px) {
 .statistics {
   flex-wrap: wrap;
 }


 .leftStatistics, .rightStatistics {
   flex-basis: 100%;
   max-width: 100%;
   margin-bottom: 20px;
 }
}


@media (max-width: 768px) {
 #Gradeintext {
   font-size: 3rem;
 }


 .statistics {
   flex-direction: column;
   align-items: center;
   text-align: center;
 }


 .leftStatistics, .rightStatistics {
   flex-basis: 100%;
   max-width: 100%;
 }


 .statIcons {
   max-width: 30px;
 }


 #benefits {
   font-size: 1rem;
 }
}


@media (max-width: 450px) {
 #Gradeintext {
   font-size: 2rem;
 }


 #benefits {
   font-size: 0.7rem;
 }
}
